.font_mukta_medium{
    font-size: 20px;
    background-origin: padding-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.checkboxWidth{
  width: 31px;height: 31px;
}